<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title> </title>
  <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <script type="text/javascript" src="http://code.famo.us/lib/functionPrototypeBind.js"></script>
  <script type="text/javascript" src="http://code.famo.us/lib/classList.js"></script>
  <script type="text/javascript" src="http://code.famo.us/lib/requestAnimationFrame.js"></script>
  <link rel="stylesheet" type="text/css" href="http://code.famo.us/famous/0.3/famous.css" />
  <script type="text/javascript" src="http://code.famo.us/famous/0.3/famous-global.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="stylesheets/app.css">
  <link rel="stylesheet" href="stylesheets/animate.css">
</head>

<body>
	<script type="text/javascript" src="js/others.js"></script>
  <script id="mainjs" type="text/javascript" src="js/main_game_with_food.js"></script>

<
</div>

</body>
</html>