// .famous-root {
// 	overflow: auto;
// }

	html, body {
		font-family: 'Lato';	
	}

	h1 {
		margin: 16px;
		border: 0;
		font-weight: 300;
		
	}

	button {
		font-family: 'Lato';
		font-size: 1em;
		margin: 1em;
	}

	p {
		margin: 1em;
		display: inline-block
	}

	span {
		margin: 1em;
		display: inline-block;
		font-size: 1.5em;
	}

	input {
		width: 400px;
		padding: 0.5em 0.25em 0.5em 0.25em;
		font-size: 1em;
		font-family: 'Lato';
		font-weight: 400;
	}

	form {
		display: inline-block;
	}

	input:select {
		box-shadow: "none"
	}

	td {
		padding: 0.125em,
	}

#subContentContainer {
	overflow: scroll;
}

table tbody {
	overflow: scroll;
}

#cdexample {
	font-size: 12px;
	margin: 1em 2em 0.5em 2em;
	display: block;
}

#ibashDescription {
	font-size: 16px;	
}

#name {
	font-weight: 700;
}

#clickIbash {
	font-size: 16px;
	margin: 0em;
	display: inline-block;	
}

tr {
	background-color: beige;
}

td {
	padding: 0.25em 0.5em 0.25em 0.5em;
	border-right: thick double #ff0000;
}

#hiddenButton {
	display: none !important;
}


// second timer solution
// #bashImage {
//   -vendor-animation-duration: 3s;
//   -vendor-animation-delay: 5s;
//   -vendor-animation-iteration-count: infinite;
// }